.Completed {
  text-decoration: line-through;
}
.container {
  width: 80%;
  margin: auto;
  padding: 0px 0px 10px 0px;
  border: 2px solid red;
}
h2 {
  color: rgb(122, 180, 245);
}
.addTask {
  height: 6vh;
  width: 60%;
  margin: 5% 2%;
  border: 1px solid rgb(122, 180, 245);
  border-radius: 2px;
  color: rgb(83, 81, 81);
}
.addTask:hover {
  box-shadow: 0px 0px 12px 0px rgb(141, 186, 228);
}
.addButton {
  height: 6vh;
  width: 15%;
  border: transparent;
  background-color: rgb(122, 180, 245);
  border-radius: 2px;
}
.a {
  /* border: 1px solid black; */
  height: 6vh;
  width: 70%;
  margin: 6px auto;
  padding: 4px;
  box-shadow: 0px 0px 10px 0px rgb(144, 144, 241);
  border-radius: 1px;
}
.deleteButton {
  border: 1px solid blue;
  height: 6vh;
  width: 15%;
  margin: auto 6px;
  border: transparent;
  background-color: rgb(241, 87, 87);
  border-radius: 2px;
  color: white;
}
.doneButton {
  border: 1px solid blue;
  height: 6vh;
  width: 15%;
  margin: auto 6px;
  border: transparent;
  background-color: rgb(51, 153, 73);
  border-radius: 2px;
  color: white;
}
