.Completed {
  text-decoration: line-through;
}
.container {
  width: 80%;
  margin: auto;
  padding: 0px 0px 10px 0px;
}
h2 {
  color: rgb(122, 180, 245);
}
.addTask {
  height: 6vh;
  width: 60%;
  margin: 5% 2%;
  border: 1px solid rgb(122, 180, 245);
  border-radius: 2px;
  color: rgb(83, 81, 81);
}
.addTask:focus {
  box-shadow: 0px 0px 12px 0px rgb(141, 186, 228);
  outline: none;
  border-color: transparent;
}
.addButton {
  height: 6vh;
  width: 12%;
  border: transparent;
  background-color: rgb(122, 180, 245);
  border-radius: 2px;
}
.listContainer {
  height: 6vh;
  width: 70%;
  margin: 8px auto;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px rgb(144, 144, 241);
  border-radius: 1px;
}
.taskList {
  color: rgb(83, 81, 81);
}
.deleteButton {
  border: 1px solid blue;
  height: 5vh;
  width: auto;
  margin: auto 6px;
  padding: 10px 15px;
  border: transparent;
  background-color: rgb(241, 87, 87);
  border-radius: 2px;
  color: white;
}
.doneButton {
  border: 1px solid blue;
  height: 5vh;
  width: auto;
  margin: auto 6px;
  padding: 10px;
  border: transparent;
  background-color: rgb(51, 153, 73);
  border-radius: 2px;
  color: white;
}
